* {
    box-sizing: border-box;
    font-family: miller-headline,serif;
    font-weight: 400;
    font-style: normal;
}

header nav {
    background-color: #446164;
    color: #F2F2F2;
}

nav {
    display: flex;
    justify-content: space-around;
}

.hero  {
    background-image: url(images/pexels-lyovtravels-levon-13415559.jpg);
    height: 75vh;
    width: 100%;
}

ul >li {
    text-decoration: none;
}
